body{margin:0 auto;}
#sss
{
	margin-top: -500px;
	float: right;
}
.wapper{
	width:100%; 
	float:left;
}
.container{
	width:100%; 
	float:left;
}
.header{
	width:100%; height:60px; float:left;
}
.header-left{
	width:60%; height:60px;float:left;background-color:#2ebbb2
}
.header-left img{
	margin-left:50px;
}
.header-right{
	width:40%; height:60px; float:left; background-color:#2ebbb2;
}
.header-right a{ 
	text-decoration:none; float:left; padding:20px 5px;font-size:18px; margin-left:25px;color:black;
}
.header-right a:hover
{
	color:red;
}

.banner{
	width:100%; height:550px; float:left;background-color:#00c3b5;
}
.sub-container1{
	width:30%; height:400px;float:left; margin-top:150px;
}
.sub-container1 p{
	font-size:20px; margin-left:30px; 
}
.sub-container1 h2{
	font-size:50px; margin-left:30px;margin-top:0px; margin-bottom: 0px;
}
.sub-container1 h3{
	font-size:50px; margin-left:30px;margin-top:0px;
}
.banner-button1 a{
	text-decoration:none; padding:10px 10px; background-color:#fff; color:red; float:left; margin-left:30px;
}
.banner-button2 a{
	text-decoration:none; padding:10px 10px;background-color:#11a5fb;float:left; margin-left:10px;color:#fff;
}
.sub-container2
{
	width:70%; height:550px;float:left;
}
.sub-container2 img
{
	width:100%; height:550px; float:left;
}

.sub-container3
{
	width:100%;background-color:#fff;float:left; margin-top:60px;
}
.box1{width:23%; height:120px; background-color:#f8f9fa; float:left; margin-left:22px;}
.box1 img{ margin-top:34px; float:left;}
.box1 h3{font-size:15px;margin:22px 93px;}
.box1 p{font-size:15px;color:#8c9398;}

.box2{width:23%; height:120px; background-color:#ff4c4c; float:left;margin-left:22px;}
.box2 img{margin-top:34px; float: right;}
.box2 h3{font-size:15px; margin:22px 93px;}
.box2 p{font-size:15px;margin-left:93px;color:#fff;}

.box3{width:23%; height:120px; background-color:#f8f9fa; float:left; margin-left:22px;}
.box3 img{margin-top:34px; float:left;}
.box3 h3{font-size:15px; margin:22px 93px;}
.box3 p{font-size:15px; margin-left:93px;color:#8c9398;}


.box4{width:23%; height:120px; background-color:#f8f9fa; float:left; margin-left:22px;}
.box4 img{margin-top:34px; float:left;}
.box4 h3{font-size:15px; margin:22px 93px;}
.box4 p{font-size:15px; margin-left:93px; color:#8c9398;}

.container2{width:100%; float:left;}
.container2 h1{width:100%;font-size:30px; text-align:center; margin-top:130px;}

.new-arrivals{width:100%;float:left;}
.sub-new-arrivals{width:80%;height:500px; margin:0 auto;}
.sub-new-arrivals-box1{width:30%; height:500px; float:left; margin:0px 25px; border:1px solid;color:grey;}
.sub-new-part1{width:100%; height:350px;}
.sub-new-part1 img{width:100%; height:350px;}
.new-arrivals-botton1{width:100%; height:30px;}
.new-arrivals-botton1 a{text-decoration:none; padding:5px 15px; background-color:#414b52; color:#fff;margin:0px 152px;}
.arrivals-button1{width:100%; height:30px;}
.arrivals-button1 a{text-decoration:none;color:black; margin:10px 133px;}
.underline1{border:1px;color:grey; text-align:center;}
.new-arrivals-part1{width:100%;height:60px;}
.new-arrivals-part1 h2{width:100%;font-size:20px;margin:10px 144px; color:red;}
.new-arrivals-part1 img{width:30%; height:20px;margin-left:127px;}

.sub-new-arrivals-box2{width:30%; height:500px; float:left; border:1px solid; color:grey;}
.sub-new-part2{width:100%; height:350px;float:left;}
.sub-new-part2 img{width:100%; height:350px;}
.new-arrivals-button2{width:100%;height:30px; float:left;}
.new-arrivals-button2 a{text-decoration:none; padding:5px 15px; background-color:#414b52; color:#fff;margin:0px 152px;}
.arrivals-button2{width:100%; height:30px; float:left;}
.arrivals-button2 a{text-decoration:none;color:black; margin:10px 118px;}
.underline2{border:1px;color:grey; text-align:center;}
.new-arrivals-part2{width:100%;height:60px;}
.new-arrivals-part2 h2{width:100%;font-size:20px;margin:10px 144px; color:red;}
.new-arrivals-part2 img{width:30%; height:20px; margin-left:127px;}


.sub-new-arrivals-box3{width:30%; height:500px; float:left;margin:0px 25px; border:1px solid; color:grey;}
.sub-new-part3{width:100%; height:350px;}
.sub-new-part3 img{width:100%; height:350px;}
.new-arrivals-button3{width:100%; height:30px;}
.new-arrivals-button3 a{text-decoration:none; padding:5px 15px; background-color:#414b52; color:#fff;margin:0px 152px;}
.arrivals-button3{width:100%; height:30px;}
.arrivals-button3 a{text-decoration:none;color:black; margin:10px 133px;}
.underline3{border:1px;color:grey; text-align:center;}
.new-arrivals-part3{width:100%;height:60px;}
.new-arrivals-part3 h2{width:100%;font-size:20px;margin:10px 144px; color:red;}
.new-arrivals-part3 img{width:30%; height:20px; margin-left:127px;}


.new-arrivals2{width:100%; float:left;margin-top:25px;}
.sub-new-arrivals2{width:80%;height:500px; margin:0 auto;}
.sub-new-arrivals-box4{width:30%; height:500px; float:left; margin:0px 25px; border:1px solid; color:grey;}
.sub-new-part4{width:100%; height:350px;}
.sub-new-part4 img{width:100%; height:350px;}
.new-arrivals-button4{width:100%; height:30px;}
.new-arrivals-button4 a{text-decoration:none;padding:5px 15px; background-color:#414b52;color:#fff; margin:0px 152px;}
.arrivals-button4{width:100%; height:30px;}
.arrivals-button4 a{text-decoration:none; color:black; margin:10px 110px;}
.underline4{border:1px; color:grey; text-align:center;}
.new-arrivals-part4{width:100%; height:60px;}
.new-arrivals-part4 h2{width:100%; font-size:20px; margin:10px 144px; color:red;}
.new-arrivals-part4 img{width:30%; height:20px; margin-left:127px;}

.sub-new-arrivals-box5{width:30%; height:500px;float:left; border:1px solid; color:grey;}
.sub-new-part5{width:100%; height:350px;}
.sub-new-part5 img{width:100%; height:350px;}
.new-arrivals-button5{width:100%; height:30px;}
.new-arrivals-button5 a{text-decoration:none;padding:5px 15px; background-color:#414b52; color:#fff; margin:0px 152px;}
.arrivals-button5{width:100%; height:30px;}
.arrivals-button5 a{text-decoration:none; color:black; margin:10px 132px;}
.underline5{border:1px; color:grey; text-align:center;}
.new-arrivals-part5{width:100%; height:60px;}
.new-arrivals-part5 h2{width:100%; font-size:20px; margin:10px 144px; color:red;}
.new-arrivals-part5 img{width:30%; height:20px; margin-left:127px;}


.sub-new-arrivals-box6{width:30%; height:500px; float:left; margin:0px 25px;border:1px solid; color:grey;}
.sub-new-part6{width:100%; height:350px;}
.sub-new-part6 img{width:100%; height:350px;}
.new-arrivals-button6{width:100%; height:30px;}
.new-arrivals-button6 a{text-decoration:none;padding:5px 15px; background-color:#414b52; color:#fff; margin:0px 152px;}
.arrivals-button6{width:100%; height:30px;}
.arrivals-button6 a{text-decoration:none; color:black; margin:10px 106px;}
.underline6{border:1px; color:grey; text-align:center;}
.new-arrivals-part6{width:100%; height:60px;}
.new-arrivals-part6 h2{width:100%; font-size:20px; margin:10px 144px; color:red;}
.new-arrivals-part6 img{width:30%; height:20px; margin-left:127px;}


.new-arrivals3{width:100%; float:left; margin-top:25px;}
.sub-new-arrivals3{width:80%; height:500px; margin:0 auto;}
.sub-new-arrivals-box7{width:30%; height:500px; float:left; margin:0px 25px; border:1px solid; color:grey;}
.sub-new-part7{width:100%; height:350px;}
.sub-new-part7 img{width:100%; height:350px;}
.new-arrivals-button7{width:100%; height:30px;}
.new-arrivals-button7 a{text-decoration:none; padding:5px 15px; background-color:#414b52; color:#fff;margin:0px 152px;}
.arrivals-button7{width:100%; height:30px;}
.arrivals-button7 a{text-decoration:none; color:black; margin:10px 106px;}
.underline7{border:1px; color:grey; text-align:center;}
.new-arrivals-part7 h2{width:100%; height:20px; margin:10px 144px; color:red;}
.new-arrivals-part7 img{width:30%; height:20px; margin-left:127px;}


.sub-new-arrivals-box8{width:30%; height:500px; float:left; border:1px solid; color:grey;}
.sub-new-part8{width:100%; height:350px;}
.sub-new-part8 img{width:100%; height:350px;}
.new-arrivals-button8{width:100%; height:30px;}
.new-arrivals-button8 a{text-decoration:none; padding:5px 15px; background-color:#414b52; color:#fff;margin:0px 152px;}
.arrivals-button8{width:100%; height:30px;}
.arrivals-button8 a{text-decoration:none; color:black; margin:10px 106px;}
.underline8{border:1px; color:grey; text-align:center;}
.new-arrivals-part8 h2{width:100%; height:20px; margin:10px 144px; color:red;}
.new-arrivals-part8 img{width:30%; height:20px; margin-left:127px;}

.sub-new-arrivals-box9{width:30%; height:500px;float:left;margin:0px 25px;border:1px solid; color:grey;}
.sub-new-part9{width:100%; height:350px;}
.sub-new-part9 img{width:100%; height:350px;}
.new-arrivals-button9{width:100%; height:30px;}
.new-arrivals-button9 a{text-decoration:none; padding:5px 15px; background-color:#414b52; color:#fff;margin:0px 152px;}
.arrivals-button9{width:100%; height:30px;}
.arrivals-button9 a{text-decoration:none; color:black; margin:10px 106px;}
.underline9{border:1px; color:grey; text-align:center;}
.new-arrivals-part9 h2{width:100%; height:20px; margin:10px 144px;}
.new-arrivals-part9 img{width:30%; height:20px; margin-left:127px;}

.container5{width:100%; background-color:#f2f2f2; float:left; margin-top:75px;}
.container5 h2{font-size:15px; margin-top:90px; text-align:center;}
.container-down5{width:20%; height:30px; margin:0 auto;}
.container-down5 img{margin-left:91px;}
.sub-container5{width:50%; height:150px;margin:0 auto;}
.sub-container5 h3{width:100%;text-align:center;}

.popular-products1{width:100%; float:left;}
.popular-products1 h2{font-size:35px; text-align:center; margin-top:70px;}


.sub-popular-products1{width:70%; height:650px;margin:0 auto; }
.popular-products-box1{width:50%; height:600px; float:left;border:1px solid; padding:8px 8px;color:grey;}
.popular-products-box1 img{width:100%; height:600px;}
.popular-products-box2-up{width:45%; height:270px;float:left; border:1px solid; color:grey; padding:8px 8px;margin-left:16px; }
.popular-products-box2-up img{width:100%; height:270px;}
.popular-products-box2-down{width:45%; height:270px; float:left;border:1px solid; color:grey; padding:8px 8px;margin-left:16px;margin-top:42px;}
.popular-products-box2-down img{width:100%; height:270px;}

.products2{width:100%; background-color:#1e272e;float:left;margin-top:25px;}
.sub-products2{width:80%; height:150px; margin:0 auto;}
.sub-product-box1{width:15%; height:150px;float:left; }
.sub-product-box1 img {margin:50px 65px;}


.sub-product-box2{width:15%; height:150px;float:left; margin-left:23px;}
.sub-product-box2 img {margin:50px 65px;}

.sub-product-box3{width:15%; height:150px;float:left; margin-left:23px;}
.sub-product-box3 img {margin:50px 65px;}

.sub-product-box4{width:15%; height:150px; float:left; margin-left:23px;}
.sub-product-box4 img {margin:50px 65px;}

.sub-product-box5{width:15%; height:150px;float:left; margin-left:23px;}
.sub-product-box5 img {margin:50px 65px;}

.sub-product-box6{width:15%; height:150px;float:left; margin-left:23px;}
.sub-product-box6 img {margin:50px 65px;}

.footer{width:100%;background-color:#f7f7f7;float:left;}
.sub-footer{width:80%;  height:600px; margin:0 auto;}
.sub-footer-part1{width:40%;height:600px; float:left;}
.sub-footer-part1 h2{font-size:50px; width::100%;color:black;}
.sub-footer-part1 p{font-size:20px; width:100%; color:black;}
.sub-footer-part1 h4{font-size:18px;color:black;}
.sub-footer-part1 img{width:50%; height:50px;}
.sub-footer-part2{width:60%;height:600px; float:left;}
.sub-footer-part2 h2{font-size:20px; margin-top:50px; margin-left:20px;}
.sub-footer-part2 p{font-size:18px;margin-left:20px;}
.sub-footer-part2 input{width:80%; height:50px; margin-left:20px;}
.sub-footer-part2 img{width:10%; float:right; height:50px; margin-right:52px;}
.sub-footer-part3{width:100%;height:200px; float:left;}
.sub-footer-part4{width:100%; height:50px;float:left; margin-left:21px;}
.footer-underline{width:60%; height:50px;color:grey;}

.sub-footer-part5{width:100%;height:350px;}
.footer-box1{width:33%;height:350px;float:left; float:left;}
.footer-box1 h2{font-size:20px;}
.footer-box1 a{text-decoration:none; color:grey;margin-left:20px;}

.footer-box2{width:33%;height:350px; float:left;}
.footer-box2 a{text-decoration:none;color:grey; margin-left:20px;}
.footer-box3{width:33%;height:350px; float:left;}
.footer-box3 h3{font-size:15px;margin-left:20px;}
.footer-box3 h4{font-size:15px; color:grey; margin-left:20px;}
.footer-box3 a{text-decoration:none; color:grey; margin-left:20px;}